[versions]



# Added by buildout at 2021-08-11 16:23:25.767752
SQLAlchemy = 1.4.22
greenlet = 1.1.1
pb.recipes.pydev = 0.4.5
transaction = 3.0.1
zc.recipe.egg = 2.0.7
zc.recipe.testrunner = 2.2

# Required by:
# zope.testrunner==5.3.0
six = 1.16.0

# Required by:
# zope.testrunner==5.3.0
zope.exceptions = 4.4

# Required by:
# zope.testrunner==5.3.0
zope.interface = 5.4.0

# Required by:
# ott.log-parser==0.1.0
zope.sqlalchemy = 1.5

# Required by:
# zc.recipe.testrunner==2.2
zope.testrunner = 5.3.0

# Added by buildout at 2021-08-11 16:26:38.043159

# Required by:
# ott.log-parser==0.1.0
boltons = 21.0.0

# Added by buildout at 2021-08-11 16:27:14.839304

# Required by:
# ott.log-parser==0.1.0
parse = 1.19.0
